*.a
*.aux
*.blg
*.cache
*.gz
*.idx
*.ilg
*.ind
*.log
*.mod
*.o
*.status
*.toc
confdefs.h
config.mk
devel/make_orf
devel/ogdrsplit
devel/rads_add_dual
devel/rads_add_ecmwf
devel/rads_add_era
devel/rads_add_flags
devel/rads_add_grid
devel/rads_add_ib
devel/rads_add_iono
devel/rads_add_mog2d
devel/rads_add_ncep
devel/rads_add_orbit
devel/rads_add_refframe
devel/rads_add_sla
devel/rads_add_ssb
devel/rads_add_sst
devel/rads_add_surface
devel/rads_add_tide
devel/rads_add_webtide
devel/rads_add_ww3_222
devel/rads_add_ww3_314
devel/rads_fix_c2
devel/rads_fix_eqtime
devel/rads_fix_j1
devel/rads_fix_jason
devel/rads_fix_reaper
devel/rads_fix_s3
devel/rads_fix_sa
devel/rads_gen_c2_l1r
devel/rads_gen_h2
devel/rads_gen_jason
devel/rads_gen_reaper
devel/rads_gen_s3
devel/rads_gen_saral
devel/rads_gen_tx_rgdr
devel/s3combine
doc/manuals/sub
rads_config.tex
src/config.f90
src/rads-config
src/rads2adr
src/rads2asc
src/rads2asc4
src/rads2grd
src/rads2grd4
src/rads2nc
src/rads2xadr
src/rads2xgf
src/rads3test
src/rads_sample
src/rads_test
src/radscolin
src/radscolin4
src/radsreconfig
src/radsstat
src/radsstat4
src/radsvar
src/radsxoconv
src/radsxogen
src/radsxolist
src/radsxostat
rads_add_seaice
rads_fix_tx
